<mat-card class="my-sidebar mt10">
    <mat-action-list>
 
        <div mat-subheader><h3>Menues</h3></div> 

        <button  class="all" mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>

        <button class="all" mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>

        <button class="all" mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon>Categories
        </button>

        <button class="all" mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Category
        </button>

        <button class="all" mat-list-item routerLink="/admin/quizzes">
            <mat-icon mat-list-icon>quiz</mat-icon>Quizzes
        </button>

        <button class="all" mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-list-icon>add</mat-icon>Add Quiz
        </button>

        <button class="all" mat-list-item (click)="logout()" *ngIf="isLoggedIn">
            <mat-icon mat-list-icon>logout</mat-icon>Logout
        </button>

    </mat-action-list>
</mat-card>
