<mat-card class="mt10 color-card">
    <h1 class="text-center"><p class="header-p">All Categories</p></h1> 
    <mat-divider></mat-divider>
    <mat-list> 
        <!-- <div mat-subheader>All Categories</div> -->
        <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{c.title}}</div>
            <div mat-line>{{c.description}}</div>
            <button 
                [routerLink]="'/admin/update-category/' + c.cid + '/' + c.title"
                class="mr10"
                mat-mini-fab>
                Edit
            </button>
            <button 
                (click)="deleteCat(c.cid)"
                class="mr10" 
                mat-mini-fab color="warn" 
                aria-label="Example icon button with a delete icon">
                <mat-icon>
                    delete
                </mat-icon> 
            </button> 
            
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <div class="container text-center mt20">
        <button routerLink="/admin/add-category" mat-raised-button color="accent">Add New Category</button>
    </div>
</mat-card>
