<mat-card class="mt10 color-card">
    <h1 class="text-center"><p class="header-p">Add New Category</p></h1>
    <mat-divider></mat-divider>
    <!-- {{category | json}} -->
    <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <form (ngSubmit)="formSubmit()">

                        <mat-form-field class="w100 mt20" appearance="outline"> 
                            <mat-label>Title</mat-label>
                            <input 
                                autofocus
                                required
                                type="text"
                                name="title"
                                matInput
                                placeholder="Enter here"
                                [(ngModel)]="category.title">
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea 
                                name="description" 
                                id="description" 
                                rows="11"
                                matInput
                                placeholder="Enter category description"
                                [(ngModel)]="category.description"></textarea>
                        </mat-form-field>

                        <div class="container text-center mt15">
                            <button mat-raised-button color="accent">Add Category</button>
                        </div>
            
                    </form>

                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>