<mat-card *ngIf="user" class="mt10">
    <h1>Your Profile Details</h1> 
    <!-- {{user | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center"> 
                   <img 
                        src="../../../assets/loginLogo1.png" 
                        alt=""
                        class="profile-image"> 
                    
                    <h1 class="mt20">{{user.firstName}} {{user.lastName}} ({{user.authorities[0].authority}}) </h1>
                </div> 
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- Table details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>

                            <tr>
                                <td>User ID</td>
                                <td>CQ_{{user.id}}</td>
                            </tr>

                            <tr>
                                <td>Phone No.</td>
                                <td>{{user.phone}}</td>
                            </tr>

                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>

                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"DEACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>